/*~
/.project
/.settings/
/config/.project
/config/.settings/
/core/crud-engine/build/
/core/crud-engine/dist/
/core/crud-engine/nbproject/private/
/core/crud_engine/build/
/core/crud_engine/nbproject/private/
/core/infoval-core/.project
/core/infoval-core/.settings/
/core/infoval-core/target/
/core/query-engine/target/
/core/FrameQ-core/target/FrameQ-core-1.0.0-SNAPSHOT.jar
/web/infovalmer-web/.project
/web/infovalmer-web/.settings/
/web/infovalmer-web/resources/report-crud-engine/coredummyinfovalengine/CoreDummyInfovalEngine/target/
/web/infovalmer-web/resources/report-crud-engine/infoval1/Infoval1/target/
/web/infovalmer-web/resources/report-crud-engine/reportcrudengine/ReportCrudEngine/target/
/web/infovalmer-web/target/
/web/framework-web/target/test-classes/.netbeans_automatic_build
/web/framework-web/target/classes/.netbeans_automatic_build
/web/framework-web/target/classes/builddef.lst
/web/framework-web/target/OPA-web-1.0.0-SNAPSHOT.jar
/web/framework-web/target/OPA-web-1.0.0-SNAPSHOT.war
/web/framework-web/target/OPA-web-1.0.0-SNAPSHOT/